@import "tailwindcss";

body {
  background-image: url("/images/tamaris_background.jpg");
  background-size: cover; /* pour couvrir tout l'écran */
  background-repeat: no-repeat; /* évite la répétition */
  background-position: center; /* centre l'image */
  background-attachment: fixed; /* fixe le fond, il ne défile pas */
}
